# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.eml
*.iws

# Mac
.DS_Store

# Maven
log/
logs/
target/
pom.xml.versionsBackup

# SVN
.svn/

# Logs
*.log

#MSI
build/SetupAgent/resources/agent-1.0-fat.jar
dist/
build/GeneratorWixComponent/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
build/GeneratorWixComponent/ConsoleApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.cs

#JRE
build/SetupAgent/jre/
build/SetupAgent/resources_64/jre/
build/SetupAgent/resources_x82/jre/