# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.eml
*.iws

# Mac
.DS_Store

# Maven
log/
logs/
target/
pom.xml.versionsBackup

# SVN
.svn/

# Logs
*.log
*.cs

#JRE
build/SetupAgent/jre/
build/SetupAgent/resources_64/jre/
build/SetupAgent/resources_x82/jre/
build/SetupAgent/resources/agent-1.0-fat.jar
dist/AgentInstaller_32.msi
*.msi