# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.eml
*.iws

# Mac
.DS_Store

# Maven
log/
logs/
target/
pom.xml.versionsBackup

# SVN
.svn/

# Logs
*.log

#MSI
build/SetupAgent/resources/agent-1.0-fat.jar
dist/