/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.dialogVPanel {
	margin: 5px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

div.testCase {
	border: 1px solid black;
	padding: 10px;
	width: 420px;
}

table.page-info-cell {
	border-bottom: 1px solid gray;
	width: 100%;
}

.highlight {
	border: 2px solid blue;
}

.tName {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 335px;
}